<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <UserName>$EletricityFA</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eletricityfa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c8df912e-e7e1-43fe-8e6e-a7202f8d2c17/resourcegroups/rg-eletricity-prod/providers/Microsoft.Web/sites/EletricityFA</ResourceId>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://eletricityfa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>